html body{
    margin: 0;
    text-align: center;
    
}


header{
    text-align: center;
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    background-image: linear-gradient(rgb(189, 255, 228), white);
}

ul{
    padding: 20px;
    
}